@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,500i,700,900,900i&subset=cyrillic,latin-ext');
body {
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', sans-serif;
  margin: 0 auto;
}
section {
  height: 150vh;
  background-size: cover;
  background-position: center;
  background-image: url("nu13.jpg");
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 80px;
  font-weight: bold;
}
section h2 {
margin-top: 30px;
font-size: 30px;
letter-spacing: 4px;
}
section p {
  font-size: 22px;
  position: absolute;
  margin-top: 300px;
  font-size: 20px;
  letter-spacing: 2px;
  width: 800px;
  text-align: center;
}
p, blockquote, h4 {
  width: 700px;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 32px;
}
a {
  color: inherit;
}
a:hover {
  color: red;
}
blockquote {
  font-size: 24px;
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
  opacity: 0.6;
  margin-bottom: 50px;
}
p {
  text-align: left;
  font-size: 20px;
  margin-bottom: 50px;
}
h4 {
  font-size: 22px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
}
.box1 {
  margin: 0 auto;
  font-weight: bold;
  background-color: red;
  width:100px;
  height:100px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.box2, .box3 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box2 img, .box3 img {
  margin-left: 20px;
  width:200px;
  height:150px;
}
.box2 img {
  background-color: white;
  border: 1px solid black;
}
.box4 img, .box5 img {
  margin-left: 20px;
  width:200px;
  height:150px;
}
.box4 {
  margin-top: 50px;
  margin-left: -50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.box5 {
    margin-top: -35px;
    margin-bottom: 50px;
    margin-left: -50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
